/* Blue color : #00AAF2 */
/* Grey color : #5f5f5f */

/*	GENERAL  */

html, header, nav {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open sans';
	background-color: #FFFFFF;
	color: #515052;
	margin: 0 10px 10px 10px;
}



#sign {
	display: block;
	font-size: small;
}

#sign a {
	text-decoration: none;
	color: white;
}

#sign ul {
	display: block;
	float: right;
	margin: 10px 0 10px 0;
	background-color: #00AAF2;
	padding: 20px;
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#sign li {
	float: right;
	display: inline;
	margin: 0 10px 0 10px;
	color: white;
}

#sign .header_name {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: medium;
    position: absolute;
}

nav {
	font-size: large;
}

nav ul {
	display: block;
	clear: both;
}

nav a {
	text-decoration: none;
	color: #515052;
}

nav a:hover {
	border-bottom: 2px solid black;
	border-color: #00AAF2;
    text-decoration: none;
    color: #515052;
}

nav ul {
	text-align: center;
	padding: 15px;
	margin: 0;
}

nav li {
	display: inline;
	margin: 0 20px 0 20px;
}

hr {
	width: 65%;
	height: 1px;
	color: #606060;
	background-color: #606060;
	border: none;
}


/*	CONTACT PAGE  */

#form-container {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 30%;
	background-color: #F1F1F1;
	padding: 10px;
}

#form-container input, textarea {
	width: 97%;
	display: block;
	margin-bottom: 8px;
}

#form-container input[type=submit] {
	width: unset;
	padding: 4px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2px;
	background-color: #00AAF2;
	color: white;
	border: none;
	border-radius: 2px;
	font-size: medium;
}

/* PRODUITS PAGE */

#table-produit {
	width: 100%;
	border-collapse: collapse;
}

#table-produit th {
	background-color: #5f5f5f;
	color: white;
}
#table-produit th, #table-produit td{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;

}

#table-produit td {
	font-size: small;
}

.plus {
	width: 2%;
    position: absolute;
}

.button_panier {
    position: relative;
    margin-left: 50px;
}

/* INSCRIPTION PAGE */

.rep_inscription {
    text-align: center;
    font-weight: bold;
}


/* ADMINISTRATION PAGE */
#modif_produit {
    margin-top: 50px;
    margin-bottom: 50px;
}

#ajouter_produit {
    margin-top: 50px;
    margin-bottom: 50px;
}

.administration_table {
    width: 50%;
    border-collapse: collapse;
}

.administration_table th, .administration_table td {
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
 


/* FOOTER */

#footer_hr {
    margin-top: 40px;
    clear: both;
}


